<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("product_kit_48.png", :class => "vmiddle") %>
  Product kits
</h1>

<p>
  Select one of your companies to view its product kits:
</p>

<%= render "companies/list_select" %>