<div class="breadcrumbs">
  <%= link_to "Sessions", "/session" %>
</div>

<h1>Editing session</h1>

<%= render 'form' %>

<div class="button">
  <%= link_to 'Show', @session %>
  <%= link_to 'Back', sessions_path %>
</div>