/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - RESET */

body {
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  line-height: 16px;
  background-color: #fff;
  color: black;
}

p {
	margin: 5px 0;
}

p, div {
	line-height: 1.3;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 0.9em;
}

a, a:link, a:visited, a:hover, a:active {
  color: #3366cc;
}

.linethrough {
  text-decoration: none;
  text-decoration: line-through;
}

.button {
  margin: 15px 0;
}

.button a, .button a:link, .button a:visited, .button a:hover, .button a:active {
  text-decoration: none;
  background-color: #3366cc;
  border: 2px solid #3366cc;
  color: white;
  padding: 5px;
  font-size: 14px;
}

.button a.small_btn, .button a:link.small_btn, .button a:visited.small_btn, .button a:hover.small_btn, .button a:active.small_btn {
  font-size: 10px;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-left: 20px;
}

h1, h2, h3 {	
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	margin: 15px 0;
}

h1 {
  font-size: 28px;
  margin: 10px 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

abbr {
  border-bottom: 1px dotted black;
  cursor: help;
}

.vmiddle {
  vertical-align: middle;
}

.vtop {
  vertical-align: top;
}

.vbottom {
  vertical-align: bottom;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

#loading {
  border: 3px solid black;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  font-size: 10px;
  display: none;
  z-index: 102;
}

#remote {
  border: 3px solid black;
  background-color: white;
  width: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  padding: 5px;
  z-index: 101;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #ff9999;
  display: inline;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 1em;
  list-style: square;
}

#header_cont {
  background-color: #f1f1f1;
  color: black;
}

#header {
  background-color: #f1f1f1;
  color: black;
  height: 55px;
  margin: 0 auto;
}

#header #logo {
  padding: 5px 0;
}

#img_logo {
  width: 200px;
  height: 49px;
}

#header #slogan {
  font-size: 1.4em;
  float: right;
  margin: 30px 50px 0 0;
  color: #333;
  line-height: 110%;
}

#header a, #header a:link, #header a:visited, #header a:hover, #header a:active {
  background-color: inherit;
  color: white;
  text-decoration: none;
}

#usermenu {
  display: none;
}

#usermenu a, #usermenu a:link, #usermenu a:visited, #usermenu a:hover, #usermenu a:active {
  color: #666;
}

#menu_cont {
  background-color: #444;
}

#menu {
  display: none;
}

#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
  color: white;
  padding: 0;
  margin: 0 10px;
  text-decoration: none;
}

#menu .btn {
  float: left;
}

#content {
  padding: 5px 5px 40px 5px;
  margin: 0px auto;
  background-color: white;
}

.info {
  width: 400px;
  float: right;
  margin: 5px 0 5px 5px;
  padding: 7px;
  background-color: black;
  color: white;
}

.info a, .info a:link, .info a:visited, .info a:hover, .info a:active {
  color: #cc3300;
  padding: 0;
  margin: 0;
}

#footer_cont {
  display: none;
}

#footer {
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 5px;
  padding: 5px;
  margin: 0 auto;
}

#footer a, #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
  background-color: inherit;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

#shortcuts {
  display: none;
}

.mid_box {
	width: 48%;
	float: left;
	margin-right: 9px;
	padding-right: 3px;
}

.third_box {
	width: 32%;
	float: left;
	margin-right: 9px;
	padding-right: 3px;
}

.two_third_box {
	width: 64%;
	float: left;
	margin-right: 9px;
	padding-right: 3px;
}

.quarter_box {
	width: 24%;
	float: left;
	margin-right: 4px;
	padding-right: 3px;
}

.bordered {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
	margin: 3px 0 8px 0;
}

.bordered_right {
	border-right: 1px solid #ccc;
}

.bordered_top {
	border-top: 1px solid #ccc;
}

.bordered_left {
	border-left: 1px solid #ccc;
}

.bordered_bottom {
	border-bottom: 1px solid #ccc;
}

.big_bordered {
	border-bottom: 3px solid #ccc;
	padding: 3px 0;
	margin: 3px 0 8px 0;
}

.big_bordered_right {
	border-right: 3px solid #ccc;
}

.big_bordered_top {
	border-top: 3px solid #ccc;
}

.big_bordered_left {
	border-left: 3px solid #ccc;
}

.big_bordered_bottom {
	border-bottom: 3px solid #ccc;
}

.padded_right {
	float: left;
	padding-right: 5px;
}

/* Text */
.big {
  font-size: 16px;
}

.small {
  font-size: 11px;
}

.bold {
  font-weight: bold;
}

.error {
  font-weight: bold;
  background-color: #eecccc;
  border: 1px solid #881111;
  color: #881111;
  padding: 4px;
  margin-bottom: 3px;
}

.notice, .success {
  font-weight: bold;
  color: #118811;
  background-color: #cceecc;
  border: 1px solid #118811;
  padding: 4px;
  margin-bottom: 3px;
}

.hr {
  font-size: 0px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-top: 1px solid #ccc;
}

.break {
  font-size: 0px;
  float: none;
  clear: both;
}

/* Forms */
input {
  border: 1px solid #006699;
  background-color: #eee;
  padding: 3px;
}

input:focus {
  border: 1px solid #d02b00;
}

input.text {
  width: 350px;
}

input.tf_short {
  width: 100px;
}

textarea {
  border: 1px solid #006699;
  background-color: #eee;
  padding: 3px;
  width: 350px;
  height: 200px;
}

textarea:focus {
  border: 1px solid #d02b00;
}

textarea.textarea_small {
  height: 50px;
}

select {
  border: 1px solid #006699;
  background-color: #eee;
  padding: 3px;
}

input.button {
  background-color: #d02b00;
  color: white;
  font-size: 15px;
  border: 2px solid #a00a00;
}

input.small_btn {
  font-size: 10px;
}

/* Notes */
.note {
  border: 1px dotted #ccc;
  margin: 5px;
  padding: 5px;
}

.note .title {
  font-size: 1.2em;
  font-weight: bold;
}

.metadata {
  font-size: 0.9em;
  color: #666;
}

.reply {
  margin: 10px 0 0 10px;
  border: 1px dotted #ccc;
  padding-left: 5px;
}

.reply .title {
  font-size: 1em;
  font-weight: bold;
}

.reply .content {
}

/* Tables */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
	border-spacing: 0;
}

th, td {
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}

th, td.total {
  background-color: #444;
  color: white;
  font-weight: bold;
  text-align: center;
}

th a, th a:link, th a:hover, th a:visited, th a:active {
	color: white;
}

/* Items */
.item {
  margin: 10px 0;
  padding: 5px;
  border: 2px solid #ccc;
  background-color: #eee;
}

.item:hover {
  border: 2px solid #3366cc;
}

.item .metadata a, .item .metadata a:hover, .item .metadata a:link, .item .metadata a:visited, .item .metadata a:active {
  color: #666;
  font-size: 0.9em;
}

.item .title {
  margin: 3px 0;
  font-size: 1.4em;
  font-weight: bold;
}

.item .logo {
  border: 2px solid #666;
  float: left;
  background-color: white;
  margin: 2px 10px 2px 0;
}

.children {
  margin: 3px;
  margin-left: 10px;
  font-size: 0.9em;
  line-height: 13px;
}

.children .title {
  font-size: 0.9em;
  line-height: 13px;
}

.children a, .children a:link, .children a:hover, .children a:visited, .children a:active {
  color: #339933;
}

.hidden {
  display: none;
}

.green {
  color: #339933;
}

.red {
  color: #993333;
}

.number {
  text-align: right;
}

/* Company */
.company_logo {
  float: right;
  border: 3px solid #666;
  background-color: white;
  margin: 5px;
}

/* Autocomplete */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}

div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.autocomplete ul li.selected {
  background-color: #ffb;
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Packages */
.package {
  width: 220px;
  float: left;
  background-color: #eee;
  margin: 3px;
  padding: 5px;
  border: 2px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.package:hover {
  border: 2px solid #3366cc;
}

.package .title {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

.package .price {
  font-size: 16px;
  margin: 5px 0;
  color: #00cc00;
}

.package .button {
  margin: 10px 0;
}

.package .button a, .package .button a:link, .package .button a:visited, .package .button a:hover, .package .button a:active {
  text-decoration: none;
  background-color: #3366cc;
  border: 2px solid #3366cc;
  color: white;
  padding: 5px;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.filters {
  border: 2px dotted #eee;
  padding: 3px;
}

/* IFRAME */
#ires {
  display: none;
}

/* Charts */
.chart {
  width: 900px;
  height: 400px;
  margin: 0 auto 20px auto;
}

/* Breadcrumbs */
.breadcrumbs {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 2px;
  font-size: 11px;
}

/* Dropdowns */
.dropdown_menu {
  border: 2px solid #222;
  background-color: #333;
  color: white;
  position: absolute;
  display: none;
  text-align: left;
  z-index: 103;
  color: white;
}

.dropdown_menu a, .dropdown_menu a:link, .dropdown_menu a:visited, .dropdown_menu a:hover, .dropdown_menu a:active,
#usermenu .dropdown_menu a, #usermenu .dropdown_menu a:link, #usermenu .dropdown_menu a:visited, #usermenu .dropdown_menu a:hover, #usermenu .dropdown_menu a:active {
  text-decoration: none;
  color: white;
  display: block;
  padding: 2px;
}

.dropdown_menu a:hover, #usermenu .dropdown_menu a:hover {
  background-color: #eee;
  color: #333;
}