<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  Customers
</h1>

<p>
  Select one of your companies to view its customers:
</p>

<%= render "companies/list_select" %>