<div class="breadcrumbs">
  <%= link_to "Users packages", users_packages_path %>
</div>

<h1>
  Editing users_package
</h1>

<%= render 'form' %>

<div class="button">
  <%= link_to 'Show', @users_package %>
  <%= link_to 'Back', users_packages_path %>
</div>