<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("products_48.png", :class => "vmiddle") %>
  Products
</h1>

<p>
  Select one of your companies to view its products:
</p>

<%= render "companies/list_select" %>