<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("supplier_48.png", :class => "vmiddle") %>
  Suppliers
</h1>

<p>
  Select one of your companies to view its suppliers:
</p>

<%= render "companies/list_select" %>